$col-purple1: purple;
$col-blue1: #5e42a6;
$col-pink1: #b74e91;

$col-page1: $col-purple1;
$col-page2: $col-blue1;
$col-page3: $col-pink1;
$col-page4: $col-blue1;
$col-page5: $col-pink1;

$white: white;

$col-text_header: $white;
$col-text_main: rgba(255,255,255,0.6);

$btn-col1: rgba(255,255,255,0.4);
$btn-col2: rgba(255,255,255,0.2);
$btn-col3: rgba(255,255,255,0.1);