$white: white;
$red: red;

$col-purple1: purple;
$col-blue1: #5e42a6;
$col-pink1: #b74e91;


 /* 
  First palette
 */
$col-page1: $col-purple1;
$col-page2: $col-blue1;
$col-page3: $col-pink1;
$col-page4: $col-blue1;
$col-page5: $col-purple1;
$font-footer: white;

/*
  Second palette
*/
$col-page1: $col-purple1;
$col-page2: #f35588;
$col-page3: #ffbbb4;
$col-page4: #71a95a;
$col-page5: #007944;
$font-footer: white;

/* 
  Third palette
*/
$col-page1: $col-purple1;
$col-page2: #151965;
$col-page3: #32407b;
$col-page4: #515585;
$col-page5: #46b5d1;
$col-footer: $col-blue1;


$hslChange: -60deg;
$lD: 20%;
$font-page1: lighten(adjust-hue($col-page1, $hslChange), 100%);
$font-page2: lighten(adjust-hue($col-page2, $hslChange), $lD);
$font-page3: lighten(adjust-hue($col-page3, $hslChange), $lD);
$font-page4: lighten(adjust-hue($col-page4, $hslChange), $lD);
$font-page5: lighten(adjust-hue($col-page5, $hslChange), $lD);
$font-footer: lighten(adjust-hue($col-footer, $hslChange), $lD);


$font-header-page1: $white;
$font-header-page2: $font-page2;
$font-header-page3: $font-page3;
$font-header-page4: $font-page4;
$font-header-page5: $font-page5;

$col--before: #d5b2d5;
$col--after: #000;

$font-lighten: 0.6;
$font-lighten--hover: 0.8;

$btn-lighten--hover: 0.2;
$btn-lighten--border: 0.1;
$btn-lighten--boxshadow: 0.4;

$col-text_header: $white;
$col-text_main: rgba(255,255,255,0.6);
$col-text_main--hover: rgb(255,255,255);
$col-text_footer: rgba(255,255,255,0.2);

$btn-col1: rgba(255,255,255,0.4);
$btn-col2: rgba(255,255,255,0.2);
$btn-col3: rgba(255,255,255,0.1);