$white: white;
$red: red;

$col-purple1: purple;
$col-blue1: #5e42a6;
$col-pink1: #b74e91;


 /* 
  First palette
 */
$col-page1: $col-purple1;
$col-page2: $col-blue1;
$col-page3: $col-pink1;
$col-page4: $col-blue1;
$col-page5: $col-purple1;
$font-footer: white;

/*
  Second palette
*/
$col-page1: $col-purple1;
$col-page2: #f35588;
$col-page3: #ffbbb4;
$col-page4: #71a95a;
$col-page5: #007944;
$font-footer: white;

/* 
  Third palette
*/
$col-page1: $col-purple1;
$col-page2: #151965;
$col-page3: #32407b;
$col-page4: #515585;
$col-page5: #46b5d1;
$col-footer: $col-blue1;

/* 
  Fourth Palette
*/
$col-page1: #151965;
$col-page2: #32407b;
$col-page3: #515585;
$col-page4: #32407b;
$col-page5: #151965;
$col-footer: #32407b;

/*
  Fifth palette
*/

$col-page1: #3c70a4;
$col-page2: #d9eeec;
$col-page3: #da9833;
$col-page4: #64b2cd;
$col-page5: #d9eeec;
$col-footer: #3c70a4;

/* 
  6th palette 
*/

$col-page1: #222831;
$col-page2: #29a19c;
$col-page3: #393e46;
$col-page4: #a3f7bf;
$col-page5: #29a19c;
$col-footer: #393e46;

$font-darkbg-col: #fff4f4; //#f5f2d0;
$font-lightbg-col: #222831; //#35383F;

$hslChange: -60deg;
$lD: 20%;
$font-page1: lighten(adjust-hue($col-page1, $hslChange), 100%);
$font-page2: lighten(adjust-hue($col-page2, $hslChange), $lD);
$font-page3: lighten(adjust-hue($col-page3, $hslChange), $lD);
$font-page4: lighten(adjust-hue($col-page4, $hslChange), $lD);
$font-page5: lighten(adjust-hue($col-page5, $hslChange), $lD);
$font-footer: lighten(adjust-hue($col-footer, $hslChange), $lD);

$font-page1: $font-darkbg-col;
$font-page2: $font-lightbg-col;
$font-page3: $font-darkbg-col;
$font-page4: $font-lightbg-col;
$font-page5: $font-darkbg-col;
$font-footer: $font-darkbg-col;




$font-header-page1: $white;
$font-header-page2: $font-page2;
$font-header-page3: $font-page3;
$font-header-page4: $font-page4;
$font-header-page5: $font-page5;

$col--before: #fff4f4;
$col--after: #29a19c; //#000;

$font-lighten--dark: 0.6;
$font-lighten--light: 0.9;
$font-lighten--hover: 0.8;

$btn-lighten--hover: 0.2;
$btn-lighten--border: 0.1;
$btn-lighten--boxshadow: 0.4;

$col-text_header: $white;
$col-text_main: rgba(255,255,255,0.6);
$col-text_main--hover: rgb(255,255,255);
$col-text_footer: rgba(255,255,255,0.2);

$btn-col1: rgba(255,255,255,0.4);
$btn-col2: rgba(255,255,255,0.2);
$btn-col3: rgba(255,255,255,0.1);

$darkenPage: 10%;