@mixin displayFlex($flow, $width, $min-height, $margin, $padding) {
  display: flex;
  flex-flow: $flow;
  min-height: $min-height;
  width: $width;
  padding: $padding;
}

@mixin btnBoxShadow($ho: 0, $vo: 0, $bv: 10px, $sv:5px, $col:white){
  box-shadow: $ho $vo $bv $sv $col;
}

@mixin anchorColour($col, $nS: $hoverSpeed--url) {
  transition: all $nS ease-out;
  color: rgba($col, $font-lighten--light);

  &:hover {
    color: rgba($col, $font-lighten--hover)
  }
}

@mixin pageColour($pageCol, $fontOpacity) {

  h1, h2, h3, h4, p, span, .col1 {
    color: rgba($pageCol, $fontOpacity);
  }

  .socialIcon, a {
    @include anchorColour($pageCol);
  }

  .mainBtn {
    color: $pageCol;
    border-color: rgba($pageCol, $font-lighten--hover);

    &:hover {
      border-color: rgba($pageCol, $fontOpacity);
      background: rgba($pageCol, $btn-lighten--hover);

      // box-shadow: box-shadow: 0 0 10px 5px $btn-lighten--border;
      @include btnBoxShadow(0,0,10px,5px, rgba($pageCol, $btn-lighten--boxshadow));
    }
  }

  .formik__field {
    color: $pageCol;
    border-color: rgba($pageCol, $fontOpacity);
  }
}

@mixin pageBG($col) {
  background: $col;
  // background: linear-gradient(to bottom right, $col, darken($col, $darkenPage));
}


@mixin mkBtn($width, $height, $margin, $fs, $align, $anim, $bw, $col) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all $hoverSpeed--btn ease-out;
  background: transparent;
  margin: $margin;
  width: $width;
  height: $height;
  font-size: $fs;
  font-weight: $globalWeight--btn;
  line-height: 0.6rem;
  position: relative;
  align-self: $align;
  animation: $anim;
  // padding: 1vw 1vw;
  border-width: $bw;
  border-radius: 3rem;
  color: $col;
  border-color: $col;

  &:hover {
    cursor: pointer;
    background-color: rgba($col, 0.3);
    @include btnBoxShadow(0,0,10px,5px, rgba($col, 0.5));

    span {
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }

  span {
    color: $col;
    letter-spacing: 3px;
  }

  .mainBtnIcon {
    font-size: $fs;
    color: $col;
  }
}


$mobile-font-header: 15vw;
$mobile-font-header2: 17vw;
$mobile-font-main: 5vw;
$mobile-font-main2: 7vw;

$mobile-pad-size: 5vw;
$mobile-pad-size2: 2rem;