@import "reset";
@import "colours";
@import "media";
@import "mixins";
@import "keyframes";

$globalWeight: 300;
$globalWeight--header: 500;
$globalWeight--btn: 400;

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  animation: fadein 3s;
  overflow-x: hidden;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

p, a {
  // color: $col-text_main;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  font-weight: $globalWeight;
}

body {
  background: black;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}

.page {
   animation: fadein 2s;
}

.welcome {
  @include displayFlex(column nowrap, 100%, 100vh, 0, 5rem 5vw 5rem 5vw);
  justify-content: center;
  // Colours
  @include pageColour($font-page1, 0.8);

  h2 {
    position: relative;
    animation: slideUp1 2s;
  }

  p {
    position: relative;
    font-size: 3.3vw;
    align-self: flex-end;
    animation: slideRight1 3s;
    text-align: right;
    margin-right: 2vw;
    font-weight: $globalWeight;

    a {
      font-size: 3.3vw;
      font-weight: $globalWeight;

      &:hover {
        color: $col-page2;
      }
    }
  }

  .mainBtn {
    @include mkBtn(26vw, 6.5vw, 2vw 2vw 0 0, 2.8vw, flex-end, slideRight1 3.5s, 0.25vw, $col-page2);
  }

  h1 {
    margin: 3rem 0 2rem 0;
    position: relative;
    align-self: center;
    font-weight: $globalWeight--header;
    font-size: 11vw;
    line-height: 1.2;
    white-space: nowrap;
    animation:  expandLetters 3s, slideLeftH1 3s;
    transition: all 2s;

    .col1, .col2 {
      transition: color 0.5s;
      animation: fadein 12s;
    }

    $cssLineW: 0.5rem;
    $cssLineH: 0.75rem;

    $cssLineW: 0.8vw;
    $cssLineH: 1.1vw;

    &:after, &:before {
      content: " ";
      position: absolute;
      height: 13vw;
      width: 12vw;
      // border: 0 solid #fff;
      border: 0;
      border-style: solid;
      // opacity: 0.7;
      pointer-events: none;
    }

    &:after {
      transition: all 0.6s;
      z-index: 1;
      opacity: 0.7;
      border-right-width: $cssLineH;
      border-top-width: $cssLineW;
      border-right-color: $col--after;
      border-top-color: $col--after;
      right: -3vw;
      top: -1vw;
    }
  
    &:before {
      z-index: 2;
      animation: fadeindelay 3s;
      // opacity: 1;
      border-bottom-width: $cssLineW;
      transition: all 0.8s;
      border-left-width: $cssLineH;
      border-bottom-color: $col--before;
      border-left-color: $col--before;
      bottom: -1vw;
      left: -3vw;
    }
  }

  .isHover {
    &:after, &:before {
      width: 100vw;
      height: 100vh;
    }
    .col2 {
      color: rgba($font-page1, 0.2);
    }
  }

  

  background: linear-gradient(to bottom right, $col-page1, darken($col-page1, $darkenPage));
  // @include pageBG($col-page1);
}

$pagePad: 2.8rem 10vw 5rem 10vw;

@media #{$mobile-m}{
  $pagePad: 2.8rem 5vw 5rem 5vw;
}

.about {
  @include displayFlex(column nowrap, 100%, unset, 0, $pagePad);
  // background: linear-gradient(to bottom right, $col-page2, darken($col-page2, $darkenPage));
  @include pageBG($col-page2);
  @include pageColour($font-page2, $font-lighten--light);

  
  .mainBtn {
    @include mkBtn(9.6rem, 3.2rem, 1rem 0 0 0, 0.6rem, unset, unset, 1px, $font-page2);
    
    .mainBtnIcon {
      font-size: 1rem;
      margin: 0 1vw;
    }
  }

  @media #{$mobile-s}{
    align-items: center;
    padding: 2.8rem 0 2rem 0;
    // margin-bottom: 2rem;
    h3 {
      font-size: $mobile-font-header;
      white-space: nowrap;
    }

    p {
      font-size: $mobile-font-main;
      padding: 0 $mobile-font-main;
    }
  }
}

.skillset {
  @include displayFlex(column nowrap, 100%, unset, 0, $pagePad);
  // background: linear-gradient(to bottom right, $col-page3, darken($col-page3, $darkenPage));
  @include pageBG($col-page3);
  @include pageColour($font-page3, $font-lighten--dark);


  @media #{$mobile-s}{
    align-items: center;
    padding: 2.5rem 0 0 0;
    h3 {
      font-size: $mobile-font-header;
    }

    p {
      font-size: $mobile-font-main;
      padding: 0 $mobile-font-main;
    }
  }

  @media #{$mobile-m}{
    // justify-content: center;
    padding: 2.5rem 2vw 8vw 2vw;
  }
}

.projects {
  @include displayFlex(column nowrap, 100%, unset, 0, $pagePad);
  // background: linear-gradient(to bottom right, $col-page4, darken($col-page4, $darkenPage));
  @include pageBG($col-page4);
  @include pageColour($font-page4, $font-lighten--light);

}

.contact {
  @include displayFlex(column nowrap, 100%, unset, 0, $pagePad);
  // background: linear-gradient(to bottom right, $col-page5, darken($col-page5, $darkenPage));
  @include pageBG($col-page5);
  @include pageColour($font-page4, $font-lighten--light);
}

.skills__container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;

  // Colours

  .skill__object .skill__icon {
    background: linear-gradient(to bottom left, rgba(255,255,255,0.5), rgba(255,255,255,0.1));
    color: $font-page3;
  }

  .skill__object {
    display: flex;
    flex-flow: column nowrap;
    max-width: 50%;
    padding: 0 3rem 3rem 5rem;
    border: 1px solid $btn-col2;

    &:hover {
      background: linear-gradient(to bottom, rgba(black, 0.2), rgba(black, 0.1));
    }

    $rad: 6px;

    &:nth-child(1) {
      border-top-left-radius: $rad;
    }

    &:nth-child(2) {
      border-top-right-radius: $rad;
    }

    &:nth-last-child(1) {
      border-bottom-right-radius: $rad;
    }

    &:nth-last-child(2) {
      border-bottom-left-radius: $rad;
    }

    .skill__icon {
      // background: white;
      border-radius: 50%;
      font-size: 2rem;
      // color: black;

      position: relative;
      left: -4rem;
      top: 3rem;
      width: 3.2rem;
      height: 3.2rem;
      text-align: center;
      line-height: 3.4rem;
    }
  }

  @media #{$mobile-s}{
    flex-flow: column nowrap;
    padding-bottom: $mobile-pad-size2;

    .skill__object {
      max-width: unset;
      width: 90%;
      align-items: center;
      margin: 0 $mobile-pad-size;
      padding: 0;

      h4 {
        margin-top: 1rem;
        font-size: $mobile-font-main2;
        white-space: nowrap;
      }

      p {
        font-size: $mobile-font-main;
        margin-bottom: $mobile-pad-size2;
      }

      .skill__icon {
        position: unset;
        left: 0;
        top: 0;
        margin-top: $mobile-pad-size2;
      }
    }
  }

  @media #{$mobile-m} {
    .skill__object {
      padding: 0 3vw 3vw 6vw;

      .skill__icon {
        margin: 1rem 1rem 1rem 0;
        left: 0;
        top: 0;
      }
    }

    h4 {
      white-space: nowrap;
      // margin-left: 5vw;
    }    
  }
}

.project__selector__container {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .project__selector__obj {
    display: flex;
    margin: 1rem;

    &:hover {
      box-shadow: 0 0 10px 5px rgba(black, 0.2);
    }

    .project__selector__img {
      display: flex;
      width: 100%;
    }
  }
}

.project__present__container {
  display: flex;

  .present__left {
    margin-left: 1rem;
    display: flex;

    .project_btn {
      align-self: center;
      font-size: 3vw;
      background: 0;
      border: 0;
    }

    .present__preview__holder {
      display: flex;
      margin: 1rem;
      width: 300px;
      flex-grow: 1;

      .present__preview__img {
        display: flex;
        width: 100%;
      }
    }
  }

  .present__right {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 1rem;

    // Colours
    @include pageColour($font-page4, $font-lighten--light);

    h4 {
      margin: 0.2rem 0;
      font-size: 1.5rem;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 1rem;
    }

    span {
      margin-top: 2rem;
      font-size: 1rem;
      // color: $col-text_main;
    }

    .present__right__links {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-top: 2rem;

      a {
        font-size: 0.9rem;
      }

      span {
        font-size: 1rem;
        margin: 0 0.3rem;
      }
    }
  }

  @media #{$mobile-s} {
    flex-flow: column nowrap;
  }
  @media #{$mobile-m}{
    flex-flow: column nowrap;
  }
}

.contact {
  display: flex;
  justify-content: space-around;
  padding-left: 10vw;
  padding-right: 10vw;

  // Colours
  @include pageColour($font-page5, $font-lighten--light);

  
  p {
    margin-bottom: 2rem;
  }

  .contact__whole__container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1000px;
    align-self: center;

    .formik__form--container {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      width: 100%;
      max-width: 800px;
      margin-right: 2rem;
      padding-right: 2rem;
      border-right: 1px solid $btn-col2;
      // max-width: 800px;

      .submitArea {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }

      .mainBtn {
        @include mkBtn(9rem, 3rem, 0.5rem 0 0 0, 1.1rem, unset, 0, 1px, $font-page5);

        .mainBtnIcon {
          margin: 1vw;
        }
      }

      h4 {
        margin: 0 0 0.5rem 0;
      }

      .formik__field {
        margin: 0.5rem 0;
        padding: 0.5rem;
        // border: 1px solid $btn-col2;
        border-width: 1px;
        border-style: solid;
        background: $btn-col3;
        border-radius: 5px;
        // color: $white;
      }

      .formik__field[name="email"],.formik__field[name="name"] {
        height: 2rem;
      }

      .formik__field[name="message"] {
        height: 6rem;
        max-width: 100%;
      }

      .error.error-message {
        color: $red;
        font-size: 1rem;
        margin: 0 0 1rem 0;
      }

      .emailResult__invalid, .emailResult__valid {
        text-align: center;
        width: 100%;
        animation: fadeout 3050ms;
        font-size: 1.5rem;
      }

      .emailResult__valid {
        color: $font-page5;
      }

      .emailResult__invalid {
        color: $red;
      }

      @media #{$mobile-s} {
        .submitArea {
          flex-flow: column nowrap;
          
          .mainBtn {
            width: 100%;
          }

          .emailResult__valid, .emailResult__invalid {
            margin-top: 0.5rem;
          }
        }
      }


    }

    .contact__mainpane {
      max-width: 200px;

      p {
        margin-bottom: 3rem;
        user-select: text;
      }

      

      .social__container {
        display: flex;
        flex-flow: row nowrap;

        a {
          font-size: 1rem;
          margin: 0 0.6rem;

          &:nth-child(1){
            margin-left: 0;
          }
        }
      }

      @media #{$mobile-s} {
        h4 {
          font-size: 5vw;
        }
      }
    }
  }

  @media #{$mobile-s}{
    align-items: center;
    padding: 2.8rem 0 0 0;
    h3 {
      font-size: $mobile-font-header;
      white-space: nowrap;
    }

    p {
      font-size: $mobile-font-main;
      padding: 0 $mobile-font-main;
      white-space: break-spaces;
    }

    .contact__whole__container {
      flex-flow: column nowrap;
      padding-bottom: 2rem;

      .formik__form--container {
        padding: 0 2rem;
        margin-bottom: 2rem;
        
        button {
          align-self: center;
        }
      }

      .contact__mainpane {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        margin: 0;
        max-width: unset;
        align-items: center;
      }
    }
  }

}


footer {
  display: flex;
  width: 100%;
  background: $col-footer;
  padding: 2rem 2rem 2rem 5vw;

  @include pageColour($font-footer, $font-lighten--dark);

  span {
    font-size: 1rem;
    // color: $col-text_footer;
  }

  @media #{$mobile-s} {
    padding: $mobile-pad-size;
    justify-content: center;
  }
}

header {
  z-index: 5;
  display: flex;
  width: 100%;
  position: fixed;
  padding: 0.9rem;
  background: rgba(0,0,0,0.6);
  animation: slideDown1 3s;
  
  nav > ul > li {
    @include pageColour($font-page1, $font-lighten--dark);

    a {
      text-underline-offset: 5px;
      font-size: 2rem;
    }
  }

  nav {
    display: flex;
    width: 100%;

    ul {
      display: flex;
      width: 100%;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      li {
        list-style-type: none;
        margin: 0 1vw;
      }
    }
  }

  @media #{$mobile-s} {
    nav > ul {
      justify-content: space-around;

      li > a {
        font-size: 5vw;
      }
    }
  }

  @media #{$mobile-m} {
    nav > ul {
      justify-content: space-around;

      li > a {
        font-size: 3vw;
      }
    }
  }
}