* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

/* 
  First palette
 */
/*
  Second palette
*/
/* 
  Third palette
*/
/* 
  Fourth Palette
*/
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeindelay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeindelay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp1 {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@keyframes slideUp1 {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes slideRight1 {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

@keyframes slideRight1 {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes slideLeftH1 {
  from {
    left: 110vw;
  }
  to {
    left: 0;
  }
}

@keyframes slideLeftH1 {
  from {
    left: 110vw;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes slideDown1 {
  0% {
    top: -4rem;
  }
  50% {
    top: -4rem;
  }
  100% {
    top: 0;
  }
}

@keyframes slideDown1 {
  0% {
    top: -4rem;
  }
  50% {
    top: -4rem;
  }
  100% {
    top: 0;
  }
}

html {
  scroll-behavior: smooth;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
  overflow-x: hidden;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

p, a {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

body {
  background: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Roboto', sans-serif;
}

.page {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-height: 100vh;
  width: 100%;
  padding: 5rem 5vw 5rem 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right bottom, from(#151965), to(#0c0f3b));
  background: linear-gradient(to bottom right, #151965, #0c0f3b);
}

.welcome h1, .welcome h2, .welcome h3, .welcome h4 {
  color: #f5f2d0;
}

.welcome p, .welcome span {
  color: rgba(245, 242, 208, 0.6);
}

.welcome .socialIcon, .welcome a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

.welcome .socialIcon:hover, .welcome a:hover {
  color: rgba(245, 242, 208, 0.8);
}

.welcome .mainBtn {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.8);
}

.welcome .mainBtn:hover {
  border-color: rgba(245, 242, 208, 0.6);
  background: rgba(245, 242, 208, 0.2);
  -webkit-box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
          box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
}

.welcome .formik__field {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.6);
}

.welcome h2 {
  position: relative;
  -webkit-animation: slideUp1 2s;
          animation: slideUp1 2s;
}

.welcome p {
  position: relative;
  font-size: 3.3vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: slideRight1 3s;
          animation: slideRight1 3s;
  text-align: right;
  margin-right: 2vw;
  font-weight: 350;
}

.welcome p a {
  font-size: 3.3vw;
  font-weight: 350;
}

.welcome .mainBtn {
  margin: 2vw 2vw 0 0;
  width: 26vw;
  height: 6.5vw;
  font-size: 2.8vw;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: slideRight1 3.5s;
          animation: slideRight1 3.5s;
  border-width: 0.25vw;
}

.welcome .mainBtn .mainBtnIcon {
  font-size: 2.8vw;
}

.welcome h1 {
  margin: 3rem 0 2rem 0;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 500;
  font-size: 11vw;
  line-height: 1.2;
  white-space: nowrap;
  -webkit-animation: slideLeftH1 3s;
          animation: slideLeftH1 3s;
}

.welcome h1 .col1, .welcome h1 .col2 {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-animation: fadein 12s;
          animation: fadein 12s;
}

.welcome h1:after, .welcome h1:before {
  content: " ";
  position: absolute;
  height: 13vw;
  width: 12vw;
  border: 0;
  border-style: solid;
  opacity: 0.7;
  pointer-events: none;
  -webkit-animation: fadeindelay 6s;
          animation: fadeindelay 6s;
}

.welcome h1:after {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 1;
  border-right-width: 1.1vw;
  border-top-width: 0.8vw;
  border-right-color: #000;
  border-top-color: #000;
  right: -2rem;
  top: -1rem;
}

.welcome h1:before {
  z-index: 2;
  opacity: 1;
  border-bottom-width: 0.8vw;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border-left-width: 1.1vw;
  border-bottom-color: #d5b2d5;
  border-left-color: #d5b2d5;
  bottom: -1rem;
  left: -2rem;
}

.welcome h1:hover:after, .welcome h1:hover:before {
  width: 100vw;
  height: 100vh;
}

.welcome h1:hover .bef:before {
  width: 100vw;
}

.welcome h1:hover .col2 {
  color: rgba(245, 242, 208, 0.2);
}

@media (max-width: 580px) {
  .welcome h1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 10vw;
  }
  .welcome h1:after, .welcome h1:before {
    height: 7vh;
    width: 15vw;
  }
  .welcome h1:after {
    border-right-width: 2vw;
    border-top-width: 1.5vw;
    right: -4vw;
    top: -2vw;
  }
  .welcome h1:before {
    border-left-width: 1.5vw;
    left: -4vw;
    bottom: -2.5vw;
  }
}

@media (min-width: 581px) and (max-width: 830px) {
  .welcome h1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 10vw;
  }
  .welcome h1:after, .welcome h1:before {
    height: 10vh;
    width: 15vw;
  }
  .welcome h1:after {
    border-right-width: 2vw;
    border-top-width: 1.5vw;
    right: -4vw;
    top: -2vw;
  }
  .welcome h1:before {
    border-left-width: 1.5vw;
    left: -4vw;
    bottom: -2.5vw;
  }
}

@media (max-width: 580px) {
  .welcome {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 0 0 0;
  }
  .welcome a {
    font-size: 5vw;
  }
  .welcome h3 {
    font-size: 15vw;
  }
  .welcome p {
    font-size: 5vw;
    padding: 0 5vw;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-height: unset;
  width: 100%;
  padding: 2.8rem 10vw 5rem 10vw;
  background: -webkit-gradient(linear, left top, right bottom, from(#32407b), to(#232d57));
  background: linear-gradient(to bottom right, #32407b, #232d57);
}

.about h1, .about h2, .about h3, .about h4 {
  color: #f5f2d0;
}

.about p, .about span {
  color: rgba(245, 242, 208, 0.6);
}

.about .socialIcon, .about a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

.about .socialIcon:hover, .about a:hover {
  color: rgba(245, 242, 208, 0.8);
}

.about .mainBtn {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.8);
}

.about .mainBtn:hover {
  border-color: rgba(245, 242, 208, 0.6);
  background: rgba(245, 242, 208, 0.2);
  -webkit-box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
          box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
}

.about .formik__field {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.6);
}

@media (max-width: 580px) {
  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.8rem 0 2rem 0;
  }
  .about h3 {
    font-size: 15vw;
    white-space: nowrap;
  }
  .about p {
    font-size: 5vw;
    padding: 0 5vw;
  }
}

.skillset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-height: unset;
  width: 100%;
  padding: 2.8rem 10vw 5rem 10vw;
  background: -webkit-gradient(linear, left top, right bottom, from(#515585), to(#3e4165));
  background: linear-gradient(to bottom right, #515585, #3e4165);
}

.skillset h1, .skillset h2, .skillset h3, .skillset h4 {
  color: #f5f2d0;
}

.skillset p, .skillset span {
  color: rgba(245, 242, 208, 0.6);
}

.skillset .socialIcon, .skillset a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

.skillset .socialIcon:hover, .skillset a:hover {
  color: rgba(245, 242, 208, 0.8);
}

.skillset .mainBtn {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.8);
}

.skillset .mainBtn:hover {
  border-color: rgba(245, 242, 208, 0.6);
  background: rgba(245, 242, 208, 0.2);
  -webkit-box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
          box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
}

.skillset .formik__field {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.6);
}

@media (max-width: 580px) {
  .skillset {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 0 0 0;
  }
  .skillset h3 {
    font-size: 15vw;
  }
  .skillset p {
    font-size: 5vw;
    padding: 0 5vw;
  }
}

@media (min-width: 581px) and (max-width: 830px) {
  .skillset {
    padding: 2.5rem 2vw 8vw 2vw;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-height: unset;
  width: 100%;
  padding: 2.8rem 10vw 5rem 10vw;
  background: -webkit-gradient(linear, left top, right bottom, from(#32407b), to(#232d57));
  background: linear-gradient(to bottom right, #32407b, #232d57);
}

.projects h3 {
  color: #f5f2d0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-height: unset;
  width: 100%;
  padding: 2.8rem 10vw 5rem 10vw;
  background: -webkit-gradient(linear, left top, right bottom, from(#151965), to(#0c0f3b));
  background: linear-gradient(to bottom right, #151965, #0c0f3b);
}

.contact h3 {
  color: #f5f2d0;
}

.mainBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  width: 9.6rem;
  height: 3.2rem;
  border-radius: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: white;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: bold;
  line-height: 0.6rem;
}

.mainBtn:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
}

.mainBtn:hover span {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.mainBtn .mainBtnIcon {
  font-size: 1rem;
  margin: 0 0.4rem;
}

.mainBtn span {
  letter-spacing: 3px;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 1rem;
}

.skills__container .skill__object .skill__icon {
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  color: #f5f2d0;
}

.skills__container .skill__object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 50%;
  padding: 0 3rem 3rem 5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.skills__container .skill__object:nth-child(1) {
  border-top-left-radius: 6px;
}

.skills__container .skill__object:nth-child(2) {
  border-top-right-radius: 6px;
}

.skills__container .skill__object:nth-last-child(1) {
  border-bottom-right-radius: 6px;
}

.skills__container .skill__object:nth-last-child(2) {
  border-bottom-left-radius: 6px;
}

.skills__container .skill__object .skill__icon {
  border-radius: 50%;
  font-size: 2rem;
  position: relative;
  left: -4rem;
  top: 3rem;
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  line-height: 3.4rem;
}

@media (max-width: 580px) {
  .skills__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding-bottom: 2rem;
  }
  .skills__container .skill__object {
    max-width: unset;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5vw;
    padding: 0;
  }
  .skills__container .skill__object h4 {
    margin-top: 1rem;
    font-size: 7vw;
    white-space: nowrap;
  }
  .skills__container .skill__object p {
    font-size: 5vw;
    margin-bottom: 2rem;
  }
  .skills__container .skill__object .skill__icon {
    position: unset;
    left: 0;
    top: 0;
    margin-top: 2rem;
  }
}

@media (min-width: 581px) and (max-width: 830px) {
  .skills__container .skill__object {
    padding: 0 3vw 3vw 6vw;
  }
  .skills__container .skill__object .skill__icon {
    margin: 1rem 1rem 1rem 0;
    left: 0;
    top: 0;
  }
  .skills__container h4 {
    white-space: nowrap;
  }
}

.project__selector__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.project__selector__container .project__selector__obj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

.project__selector__container .project__selector__obj .project__selector__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.project__present__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__present__container .present__left {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__present__container .present__left .present__preview__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  width: 300px;
}

.project__present__container .present__left .present__preview__holder .present__preview__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.project__present__container .present__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-left: 1rem;
}

.project__present__container .present__right h1, .project__present__container .present__right h2, .project__present__container .present__right h3, .project__present__container .present__right h4 {
  color: #f5f2d0;
}

.project__present__container .present__right p, .project__present__container .present__right span {
  color: rgba(245, 242, 208, 0.6);
}

.project__present__container .present__right .socialIcon, .project__present__container .present__right a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

.project__present__container .present__right .socialIcon:hover, .project__present__container .present__right a:hover {
  color: rgba(245, 242, 208, 0.8);
}

.project__present__container .present__right .mainBtn {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.8);
}

.project__present__container .present__right .mainBtn:hover {
  border-color: rgba(245, 242, 208, 0.6);
  background: rgba(245, 242, 208, 0.2);
  -webkit-box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
          box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
}

.project__present__container .present__right .formik__field {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.6);
}

.project__present__container .present__right h4 {
  margin: 0.2rem 0;
  font-size: 1.5rem;
}

.project__present__container .present__right p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.project__present__container .present__right span {
  margin-top: 2rem;
  font-size: 1rem;
}

.project__present__container .present__right .present__right__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.project__present__container .present__right .present__right__links a {
  font-size: 0.9rem;
}

.project__present__container .present__right .present__right__links span {
  font-size: 1rem;
  margin: 0 0.3rem;
}

@media (max-width: 580px) {
  .project__present__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

@media (min-width: 581px) and (max-width: 830px) {
  .project__present__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 10vw;
  padding-right: 10vw;
}

.contact h1, .contact h2, .contact h3, .contact h4 {
  color: #f5f2d0;
}

.contact p, .contact span {
  color: rgba(245, 242, 208, 0.6);
}

.contact .socialIcon, .contact a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

.contact .socialIcon:hover, .contact a:hover {
  color: rgba(245, 242, 208, 0.8);
}

.contact .mainBtn {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.8);
}

.contact .mainBtn:hover {
  border-color: rgba(245, 242, 208, 0.6);
  background: rgba(245, 242, 208, 0.2);
  -webkit-box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
          box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
}

.contact .formik__field {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.6);
}

.contact p {
  margin-bottom: 2rem;
}

.contact .contact__whole__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  max-width: 1000px;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact .contact__whole__container .formik__form--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  max-width: 800px;
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.contact .contact__whole__container .formik__form--container h4 {
  margin: 0 0 0.5rem 0;
}

.contact .contact__whole__container .formik__form--container .formik__field {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.contact .contact__whole__container .formik__form--container .formik__field[name="email"], .contact .contact__whole__container .formik__form--container .formik__field[name="name"] {
  height: 2rem;
}

.contact .contact__whole__container .formik__form--container .formik__field[name="message"] {
  height: 6rem;
  max-width: 100%;
}

.contact .contact__whole__container .formik__form--container .error.error-message {
  color: red;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.contact .contact__whole__container .formik__form--container .emailResult__valid {
  -webkit-animation: fadeout 3050ms;
          animation: fadeout 3050ms;
  font-size: 1.5rem;
  color: white;
}

.contact .contact__whole__container .formik__form--container .emailResult__invalid {
  -webkit-animation: fadeout 3050ms;
          animation: fadeout 3050ms;
  font-size: 1.5rem;
  color: red;
}

.contact .contact__whole__container .contact__mainpane {
  max-width: 200px;
}

.contact .contact__whole__container .contact__mainpane p {
  margin-bottom: 3rem;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.contact .contact__whole__container .contact__mainpane .social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.contact .contact__whole__container .contact__mainpane .social__container a {
  font-size: 1rem;
  margin: 0 0.6rem;
}

.contact .contact__whole__container .contact__mainpane .social__container a:nth-child(1) {
  margin-left: 0;
}

@media (max-width: 580px) {
  .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.8rem 0 0 0;
  }
  .contact h3 {
    font-size: 15vw;
    white-space: nowrap;
  }
  .contact p {
    font-size: 5vw;
    padding: 0 5vw;
    white-space: break-spaces;
  }
  .contact .contact__whole__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding-bottom: 2rem;
  }
  .contact .contact__whole__container .formik__form--container {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  .contact .contact__whole__container .formik__form--container button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact .contact__whole__container .contact__mainpane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    max-width: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #32407b;
  padding: 2rem 2rem 2rem 5vw;
}

footer h1, footer h2, footer h3, footer h4 {
  color: #f5f2d0;
}

footer p, footer span {
  color: rgba(245, 242, 208, 0.6);
}

footer .socialIcon, footer a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

footer .socialIcon:hover, footer a:hover {
  color: rgba(245, 242, 208, 0.8);
}

footer .mainBtn {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.8);
}

footer .mainBtn:hover {
  border-color: rgba(245, 242, 208, 0.6);
  background: rgba(245, 242, 208, 0.2);
  -webkit-box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
          box-shadow: 0 0 10px 5px rgba(245, 242, 208, 0.4);
}

footer .formik__field {
  color: #f5f2d0;
  border-color: rgba(245, 242, 208, 0.6);
}

footer span {
  font-size: 1rem;
}

@media (max-width: 580px) {
  footer {
    padding: 5vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  padding: 0.9rem;
  background: rgba(0, 0, 0, 0.3);
  -webkit-animation: slideDown1 3s;
          animation: slideDown1 3s;
}

header.p1 nav > ul > li > a {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: rgba(255, 255, 255, 0.6);
}

header.p1 nav > ul > li > a:hover {
  color: rgba(255, 255, 255, 0.8);
}

header.p2 nav > ul > li > a {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

header.p2 nav > ul > li > a:hover {
  color: rgba(245, 242, 208, 0.8);
}

header.p3 nav > ul > li > a {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

header.p3 nav > ul > li > a:hover {
  color: rgba(245, 242, 208, 0.8);
}

header.p4 nav > ul > li > a {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

header.p4 nav > ul > li > a:hover {
  color: rgba(245, 242, 208, 0.8);
}

header.p5 nav > ul > li > a {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: rgba(245, 242, 208, 0.6);
}

header.p5 nav > ul > li > a:hover {
  color: rgba(245, 242, 208, 0.8);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul li {
  list-style-type: none;
  margin: 0 1rem;
}
/*# sourceMappingURL=main.css.map */